In [1]:
#安装数据获取的api
!pip install tushare

Collecting tushare
  Downloading tushare-1.2.67-py3-none-any.whl (129 kB)
     |████████████████████████████████| 129 kB 133 kB/s
Requirement already satisfied: pandas in /Users/pangjianqiang/.local/lib/python3.8/site-packages (from tushare) (0.25.3)
Requirement already satisfied: bs4 in /Users/pangjianqiang/miniforge3/envs/py38/lib/python3.8/site-packages (from tushare) (0.0.1)
Collecting simplejson
  Downloading simplejson-3.17.5-cp38-cp38-macosx_11_0_arm64.whl (73 kB)
     |████████████████████████████████| 73 kB 71 kB/s
Requirement already satisfied: requests in /Users/pangjianqiang/.local/lib/python3.8/site-packages (from tushare) (2.25.1)
Collecting lxml
  Downloading lxml-4.6.3.tar.gz (3.2 MB)
     |████████████████████████████████| 3.2 MB 8.2 kB/s
Collecting websocket-client>=0.57.0
  Downloading websocket_client-1.2.1-py2.py3-none-any.whl (52 kB)
     |████████████████████████████████| 52 kB 13 kB/s
Requirement already satisfied: numpy>=1.13.3 in /Users/pangjianqiang/miniforge3/envs/py38/lib/python3.8/site-packages (from pandas->tushare) (1.20.1)
Requirement already satisfied: pytz>=2017.2 in /Users/pangjianqiang/.local/lib/python3.8/site-packages (from pandas->tushare) (2021.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/pangjianqiang/.local/lib/python3.8/site-packages (from pandas->tushare) (2.8.1)
Requirement already satisfied: beautifulsoup4 in /Users/pangjianqiang/miniforge3/envs/py38/lib/python3.8/site-packages (from bs4->tushare) (4.9.3)
Requirement already satisfied: certifi>=2017.4.17 in /Users/pangjianqiang/miniforge3/envs/py38/lib/python3.8/site-packages (from requests->tushare) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /Users/pangjianqiang/.local/lib/python3.8/site-packages (from requests->tushare) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/pangjianqiang/.local/lib/python3.8/site-packages (from requests->tushare) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in /Users/pangjianqiang/.local/lib/python3.8/site-packages (from requests->tushare) (4.0.0)
Requirement already satisfied: six>=1.5 in /Users/pangjianqiang/miniforge3/envs/py38/lib/python3.8/site-packages (from python-dateutil>=2.6.1->pandas->tushare) (1.15.0)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in /Users/pangjianqiang/miniforge3/envs/py38/lib/python3.8/site-packages (from beautifulsoup4->bs4->tushare) (2.2.1)
Building wheels for collected packages: lxml
  Building wheel for lxml (setup.py) ... done
  Created wheel for lxml: filename=lxml-4.6.3-cp38-cp38-macosx_11_0_arm64.whl size=1471464 sha256=e5ced2038e72800df5b8ecd39a07cd86e8e44b32ec66057873b4001869fb3141
  Stored in directory: /Users/pangjianqiang/Library/Caches/pip/wheels/d3/4b/8d/471241f6711106f3a02642e3fbd41ee7302225b502eccfa285
Successfully built lxml
Installing collected packages: simplejson, lxml, websocket-client, tushare
Successfully installed lxml-4.6.3 simplejson-3.17.5 tushare-1.2.67 websocket-client-1.2.1

In [14]:
import tushare as ts
ts.set_token('your token here')

pro = ts.pro_api()

df = pro.daily(ts_code='000001.SZ', start_date='20180701', end_date='20211022')

In [18]:
type(df)

pandas.core.frame.DataFrame

In [15]:
df.head()

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000001.SZ,20211022,20.16,20.59,19.80,20.04,20.00,0.04,0.2000,1134963.63,2287284.921
1,000001.SZ,20211021,19.52,20.06,19.25,20.00,19.24,0.76,3.9501,1621661.01,3198266.215
2,000001.SZ,20211020,19.75,19.78,19.19,19.24,19.57,-0.33,-1.6863,662955.55,1283356.219
3,000001.SZ,20211019,19.15,19.68,19.15,19.57,19.29,0.28,1.4515,682415.15,1330501.301
4,000001.SZ,20211018,19.45,19.55,19.10,19.29,19.66,-0.37,-1.8820,729622.50,1408737.777

In [16]:
df.tail()

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
799,000001.SZ,20180706,8.61,8.78,8.45,8.66,8.60,0.06,0.70,988282.69,852071.526
800,000001.SZ,20180705,8.62,8.73,8.55,8.60,8.61,-0.01,-0.12,835768.77,722169.579
801,000001.SZ,20180704,8.63,8.75,8.61,8.61,8.67,-0.06,-0.69,711153.37,617278.559
802,000001.SZ,20180703,8.69,8.70,8.45,8.67,8.61,0.06,0.70,1274838.57,1096657.033
803,000001.SZ,20180702,9.05,9.05,8.55,8.61,9.09,-0.48,-5.28,1315520.13,1158545.868

In [11]:
#多个股票
df = pro.daily(ts_code='000001.SZ,600000.SH', start_date='20180701', end_date='20180718')

In [9]:
df = pro.query('daily', ts_code='000001.SZ', start_date='20180701', end_date='20211022')

In [23]:
df = pro.query('daily', adj = 'qfq', ts_code='000001.SZ', start_date='20210701', end_date='20211022')

In [24]:
df.head()

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000001.SZ,20211022,20.16,20.59,19.80,20.04,20.00,0.04,0.2000,1134963.63,2287284.921
1,000001.SZ,20211021,19.52,20.06,19.25,20.00,19.24,0.76,3.9501,1621661.01,3198266.215
2,000001.SZ,20211020,19.75,19.78,19.19,19.24,19.57,-0.33,-1.6863,662955.55,1283356.219
3,000001.SZ,20211019,19.15,19.68,19.15,19.57,19.29,0.28,1.4515,682415.15,1330501.301
4,000001.SZ,20211018,19.45,19.55,19.10,19.29,19.66,-0.37,-1.8820,729622.50,1408737.777